AUTH_PORT=3001
PREFERENCES_PORT=3002
WEATHER_AIR_PORT=3003
WEATHER_WATER_PORT=3004
TIME_PORT=3005

AUTH_MONGO_DB=auth_db
AUTH_MONGO_APP_USER=app_user
AUTH_MONGO_APP_PASSWORD=app_password
AUTH_MONGO_ROOT_USER=root_user
AUTH_MONGO_ROOT_PASSWORD=root_password
AUTH_MONGO_URI=mongodb://app_user:app_password@mongo:27017/auth_db?authSource=auth_db

JWT_SECRET=change_me_before_prod
JWT_EXPIRES_IN=1h
BCRYPT_SALT_ROUNDS=10
CORS_ORIGIN=http://localhost:3000

MYSQL_PORT=3306
MYSQL_DATABASE=preferences_db
MYSQL_USER=app_user
MYSQL_PASSWORD=app_password
MYSQL_ROOT_PASSWORD=root_password

WEATHER_AIR_USE_MOCK=true
WEATHER_AIR_API_URL=http://api.weatherapi.com/v1
WEATHER_AIR_API_KEY=
WEATHER_WATER_USE_MOCK=true
WEATHER_WATER_API_URL=http://api.weatherapi.com/v1
WEATHER_WATER_API_KEY=
TIME_USE_MOCK=true
TIME_API_URL=http://api.weatherapi.com/v1
TIME_API_KEY=
UNSPLASH_API_URL=https://api.unsplash.com/photos/random
UNSPLASH_ACCESS_KEY=
